<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
  <directoryBrowse enabled="true" />
  <handlers>
  <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
</handlers>
    <aspNetCore processPath="dotnet SDLCMetricsApi.dll"
      arguments=""
      stdoutLogEnabled="false"
      stdoutLogFile="\\?\%home%\LogFiles\stdout">
</aspNetCore>
  </system.webServer>
</configuration>